html {
	background-color: #FEFCFB;
}

body {
	color: #333;
	line-height: 1.8em;
	font-size: 16px;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #ff8257;
}

.main-content {
	margin: 50px auto 100px;
}

.about-section {
	text-align: center;
	margin-top: 20px;
}
	.about-section p {
		margin-bottom: 8px;
	}
	.about-section a {
		font-weight: 500;
	}

.table-of-contents {
	margin: 10px 0 48px;
}

	.contents-item {
		margin: 24px 0;
	}
		.contents-title {
			margin-bottom: 8px;
			font-weight: 400;
		}
		.contents-description {

		}


.flowchart {
	width: auto;
}

	.flowchart img {
		width: 100%;
		display: block;
	}

	.flowchart .mobile {
		display: block;
	}
	.flowchart .desktop {
		display: none;
	}
	@media (min-width: 760px) { 
		.flowchart .mobile {
			display: none;
		}
		.flowchart .desktop {
			display: block;
		}
	}



.filter-wrapper {
  position: relative;
}

.filter-wrapper .phases-menu {
	margin: 0;
	margin-bottom: 20px;
    list-style: none;
}
	.filter-wrapper .phases-menu li {
		margin-bottom: 3px;
	}
	.filter-wrapper .phases-menu a {
		margin-bottom: 0;
	}


.toggle-labels {
	display: none;
}

.filter-wrapper{
	display: none;
}


@media (min-width: 550px) { /*Skeletons default grid-activation width*/
  .filter-wrapper{
	  position: -webkit-sticky; /* Safari */
	  position: sticky;
	  top: 0;
    	max-width: 18%; /*Avoids overlapping*/
    display: block;
  }

  .filters {
  	margin-top: 20px;
  	padding: 10px;
  	border: 1px solid #e1e1e1;
  }



}




/***
CHECKBOXES *******************************************
***/
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 6px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 400;
}


.checkbox-container .activity{
	border-bottom: 2px solid #72d0f7;
}
.checkbox-container .article{
	border-bottom: 2px solid #f5c75a;
}
.checkbox-container .framework{
	border-bottom: 2px solid #96bdb0;
}


/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
    top: 4px;
    left: 0;
    height: 15px;
    width: 15px;
  	background-color: #fff;
  	border: 1px solid #ff8257;
  	border-radius: 2px
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #e1e1e1;
}

/* When the checkbox is checked, add a red background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #ff8257;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
	left: 5px;
	top: 1px;
	width: 4px;
	height: 8px;
	border: solid white;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
/***
CHECKBOXES *******************************************
***/








.category_color {
	padding: 2px 5px;
    font-style: italic;
}

	.category_color.activity,
	.resource-category-wrapper.activity,
	.resource-category.activity {
		background-color: #d1edf9;
	}
	.resource.activity {
		border-left-color:#d1edf9;
	}

	.category_color.framework,
	.resource-category-wrapper.framework,
	.resource-category.framework {
		background-color: #BFD9D0;
	}
	.resource.framework {
		border-left-color:#BFD9D0;
	}

	.category_color.article,
	.resource-category-wrapper.article,
	.resource-category.article {
		background-color: #FFE7AD;
	}
	.resource.article {
		border-left-color:#FFE7AD;
	}




.phase {
	padding: 20px 0;
}

.phase-title h3 {
	font-weight: 500;
}




.resource {
	margin: 40px 0 10px 0;
	border-left: 5px solid #bbb;
    padding-left: 10px;
}

	.resource-category-wrapper {
		display: inline-block;
		vertical-align: top;
		border-radius: 20px;

	}
		.resource-category {
		  padding: 3px 7px;
		  font-style: italic;
		  padding: 0px 10px;
    		border-radius: 20px;
   			font-style: italic;
    		font-size: 12px;
		}

	.resource-title {
		font-size: 1.5em;
		display: inline;
		padding-right: 10px;
	}
	.resource-description {
		margin-top: 8px;
		line-height: 1.8em;
	}



